@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-resize: 1;
}

body {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 11.09%,
      rgba(0, 78, 179, 0.6) 100%
    );
  z-index: 1;
  pointer-events: none;
}

#app {
  position: relative;
  z-index: 2;
  width: 100vw;
  height: 100vh;
}
